body {
    margin: 0;
    box-sizing: border-box;
    font-size: 2vh;
    font-family: Arial, Helvetica, sans-serif;
    --content-boundaries: minmax(auto, 992px);
}

main {
    text-align: center;
}

/* Приветствие */
header {  
    display: grid;
    grid-template-columns: var(--content-boundaries);
    justify-content: center;
    align-content: center;
    background-image: url(./../images/header-photo.jpeg);
    background-position: center center;
    background-size: cover;
    text-align: center;
    min-height: 500px;
}

header > h1 {
    color: white;
    margin-top: 10vh;
    margin-bottom: 0;
}

/* Кнопка */
a {
    justify-self: center;
    padding: 2vh;
    text-decoration: none;
    color: white;
    margin-bottom: 10vh;
    background-color: rgb(59, 59, 59);
}

header > p {
    height: fit-content;
    color: white;
    justify-self: center;
    padding: 2vh;
}

a:hover {
    background-color: white;
    color: black;
}

/* Информация №1 */
#read-more {
    display: grid;
    grid-template-columns: var(--content-boundaries);
    justify-content: center;
    color: black;
    text-align: center;
    padding: 2vh;
}

/* Контейнер-сетка для карточек №1 */
.grid-container {
    display: grid;
    grid-template-columns: var(--content-boundaries);
    justify-content: center;
    background-color: rgb(65, 65, 65);
}

/* Контейнер с карточками №1 */
.card-container {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(auto, 250px));
    row-gap: 50px;
    column-gap: 50px;
    justify-content: center;
    padding: 50px;
}

@media screen and (max-width: 992px) {
    .card-container {
        grid-template-columns: minmax(200px, 250px);
    }
}

/* Фото для карточек №1*/
article > img {
    object-fit:cover;
    width: 100%;
    height: 10rem;
}

/* Карточки №1 */
.card-container > article {
    display: grid;
    background-color: white;
    color: black;
    min-height: fit-content;
    min-width: 100px;
    max-width: 300px;
}

.card-container > article > p {
    margin: 20px;
}

/* Информация №2 */
#info {
    display: grid;
    grid-template-columns: var(--content-boundaries);
    justify-content: center;
    height: fit-content;
    padding: 30px;
}

/* Контейнер с карточками №2 */
.additional-info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

/* Карточки №2*/
.additional-info > article  {
    display: flex;
    background-color: rgb(85, 154, 233);
    flex-direction: column;
    row-gap: 0;
    color: white;
    justify-content: flex-start;
    padding: 20px;
}

.additional-info > article + article {
    background-color: rgb(63, 63, 63);
}

/* Футер */
footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    background-color: black;
    justify-content: space-evenly;
    padding: 2%;
}

footer > div {
    color: white;
    text-align: center;
}